language: cpp
compiler:
  - gcc
branches:
  only:
    - master
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y texlive-full
  - sudo fc-cache -f -v
script:
  - latexmk -pdf -e '$pdflatex=q/xelatex %O %S/' book.tex
