sudo: required
dist: trusty
branches:		
  only:		
    - master		
before_install:		
  - sudo apt-get update -qq		
  - sudo apt-get install -y texlive-full		
  - sudo fc-cache -f -v		
script:		
  - latexmk -pdf -e '$pdflatex=q/xelatex %O %S/' Book.tex
deploy:
  provider: releases
  api_key: 
    secure: $GH_TOKEN
  file: Book.pdf
  skip_cleanup: true
  on:
    repo: Quanloh/Book
